name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"] # O "master", revisa c칩mo se llama tu rama principal

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20" # Usa la versi칩n de Node que prefieras

      - name: Install dependencies
        run: npm ci # "ci" es m치s seguro que "install" para entornos autom치ticos

      - name: Build project
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # IMPORTANTE:
          # Si usas Vite, la carpeta es 'dist'
          # Si usas Create React App, cambia 'dist' por 'build'
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4